<div class="bg-white" *ngIf="(photo$ | async) as photo">
  <div class="row">

    <div class="col-lg-8">
      <app-photo [id]="photo.id" [url]="photo.url" [description]="photo.description"
         [likes]="photo.likes" [comments]="photo.comments"></app-photo>
    </div>

    <div class="col-lg-4 p-4">

      <small>
        <div class="text-left mb-4">
          <i class="fa fa-comment-o fa-2x mr-2 ml-2"></i> {{ photo.comments }}
          <i appPhotoOwnerOnly [ownedPhoto]="photo" class="fa fa-trash-o fa-2x pull-right" (click)="remove(photo.id)"></i>
        </div>
      </small>

      <app-photo-comments [id]="photo.id" *ngIf="photo.allowComments; else warning"></app-photo-comments>
      <ng-template #warning>
        O usuário desabilitou comentários para esta foto
      </ng-template>
    </div>

  </div>
</div>
